.wrapper {
  width: 70%;
  margin: 100px auto;
  
  .content {
    width: 100%;
    text-align: center;
    button {
      margin: 20px;
    }
  }

  .toastr-avatar {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;

    img {
      max-width: 105%;
    }
  }
}