@charset "UTF-8";

@font-face {
  font-family: "redux-toastr";
  src:url("./../fonts/redux-toastr.eot");
  src:url("./../fonts/redux-toastr.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/redux-toastr.woff") format("woff"),
    url("./../fonts/redux-toastr.ttf") format("truetype"),
    url("./../fonts/redux-toastr.svg#redux-toastr") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "redux-toastr";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="toastr-icon-"]:before,
[class*=" toastr-icon-"]:before {
  font-family: "redux-toastr";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toastr-icon-close-round:before {
  content: "\62";
}
.toastr-icon-information-circle:before {
  content: "\63";
}
.toastr-icon-check-1:before {
  content: "\64";
}
.toastr-icon-exclamation-triangle:before {
  content: "\65";
}
.toastr-icon-exclamation-alert:before {
  content: "\69";
}