// There is a bug when the less file is compile the first font-face will not work
// I will try add a extra on top just for see if can be a work around
@font-face {
  font-family: 'open-sanscondensed-light';
  src: url('../fonts/opensans-condlight.eot');
  src: url('../fonts/opensans-condlight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-condlight.woff2') format('woff2'),
       url('../fonts/opensans-condlight.woff') format('woff'),
       url('../fonts/opensans-condlight.ttf') format('truetype'),
       url('../fonts/opensans-condlight.svg#open_sanscondensed_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sanscondensed-light';
  src: url('../fonts/opensans-condlight.eot');
  src: url('../fonts/opensans-condlight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-condlight.woff2') format('woff2'),
       url('../fonts/opensans-condlight.woff') format('woff'),
       url('../fonts/opensans-condlight.ttf') format('truetype'),
       url('../fonts/opensans-condlight.svg#open_sanscondensed_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans-condensedbold';
  src: url('../fonts/opensans-condbold.eot');
  src: url('../fonts/opensans-condbold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-condbold.woff2') format('woff2'),
       url('../fonts/opensans-condbold.woff') format('woff'),
       url('../fonts/opensans-condbold.ttf') format('truetype'),
       url('../fonts/opensans-condbold.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}